body {
  margin: 0;
  font-size: 19px;
  text-align: center;
  color: #666;
  background: #666666;
    animation: 1s ease 0s normal none 1 running fadein;

}

.title{

}

h1, h2, h3, h4, h5, h6, p {
    font-family: "Josefin Sans",sans-serif;
    font-weight: 400;
    font-style: normal;
    letter-spacing: 0.125em;
    text-align: center;
    text-transform: uppercase;
    line-height: 1.25;

}

hr{
 margin-bottom: 50px;
margin-top: 50px;
width: 90%

}

a:hover {
color: #666666;
 text-decoration: underline;
}



.title{
    margin: em 0 0;
    font-weight: 700;
    font-size: 24px;
    line-height: 1.5;
    display: inline-block;
}

.name{
    color: #009688;
    display:inline-block;
}



.paragraph{
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

@media (min-width: 30em) {
    .row { width: 100%; display: table; table-layout: fixed; }
    .col { display: table-cell; vertical-align: middle;}
}

.card{
    padding:1.5rem;
    box-shadow:0 1px 2px #aaa;
    background:#f6f6f6;
    margin:3rem 3rem 3rem;
    border-radius:3px;
    transform-origin:top left;

}

.project-card{
  width:25%;
  overflow: hidden;
  height:370px;
  min-width: 200px;
  vertical-align: bottom;
  display: inline-block;

  padding:1.5rem;
  box-shadow:0 1px 1px #aaa;
  background:#FBFBFB;
  margin:0 1rem 1rem;
  border-radius:3px;
  animation:fly-in-from-left .5s 1s ease;
  text-align: center;
  margin-bottom: 2rem;


}

.project-card-image{
  width:175px;
  height:175px;
}





.card-link{
  margin: auto;
  font-size: 19px;
  text-align: center;
  color: #666;


}

.project-card:hover{
  box-shadow:1px 1px 3px 3px #aaa;
  /*opacity: 0.3;*/
}

.hidden_text{
  display: none;
}
/*.project-card:hover .hidden_text{
  display: block;
  opacity: 1;
  top:0;
}*/

.footer{
    background: #009688;
    color: #f6f6f6;
    height:150px;
    width: 100%;
    position: relative;
    bottom: 0;

}

.copyright{
    background: #00897B;
     color: #f6f6f6;
    height:50px;
    width: 100%;
     vertical-align : bottom;


}

a {

    font-family: "Josefin Sans",sans-serif;
    font-weight: 400;
    font-style: normal;
    letter-spacing: 0.125em;
    text-align: center;
    text-transform: uppercase;
    line-height: 1.25;
    color:#f6f6f6;
    vertical-align: middle;
    text-decoration: none;

}



.circular {
	 width: 200px;
  height: 200px;
  border-radius: 50%; /*don't forget prefixes*/
  animation: 1s ease 0s normal none 1 running fadein;
  background-position: 50px center;
  /* as mentioned by Vad: */
  background-size: cover;
    margin-left: auto ;
  margin-right: auto ;

	}


@media screen and (max-width: 726px) {
      .project-card {
        min-width: 125px;
        width:50%;
          margin: 1rem auto;
      }

      .project-card-image{
        width: 125px;
        height: 125px;
      }

      .circular{
        width: 175px !important;
        height: 175px !important;
        background-position: 50% 25% !important;
      }
      h2{
        font-size: 20px;
      }
  }


.resume{
  width: 100%;
  height: 800px;
}
@media only screen and (max-width : 600px) {
  .project-card {
    min-width: 125px;
    width:70%;
      margin: 1rem auto;
  }

}

@media only screen and (min-width: 480px) and (max-width: 960px){


}

@media only screen and (min-width: 985px) {

    #linkedin{
        margin-left: 10px;
        margin-right: 10px;

    }

    #github{
        margin-left: 10px;
        margin-right: 10px;

    }

    #codepen{
        margin-left: 10px;
        margin-right: 10px;

    }

    #twitter{
        margin-left: 10px;
        margin-right: 10px;

    }

}
