sup {
	vertical-align: baseline;
	position: relative;
	top: -0.4em;
}
sub {
	vertical-align: baseline;
	position: relative;
	top: 0.4em;
}
.stl_01 {
	border-style: none;
	position: relative;
	width: 576pt;
	margin: 0pt;
	height: 720pt;
	display: inline-block;
}
.stl_02 {
	position: absolute;
	left: 0pt;
	top: 0pt;
}
.stl_03 {
	position: absolute;
	line-height: 35.20979pt;
	left: 214.7695pt;
	top: 35.20979pt;
}
@font-face {
	font-family:"DTSHQH+SourceSansPro-Light";
	src:url("17e929e9-0000-0000-0000-000000000000.ttf");
}
.stl_04 {
	color: #3A3F52;
	display: inline;
	font-size: 28pt;
	font-family: "DTSHQH+SourceSansPro-Light";
}
.stl_05 {
	position: absolute;
	line-height: 12.5729pt;
	left: 209.9742pt;
	top: 71.43336pt;
}
@font-face {
	font-family:"ATBBOV+Ionicons";
	src:url("9d0c70e3-0000-0000-0000-000000000000.ttf");
}
.stl_06 {
	color: #3A3F52;
	display: inline;
	font-size: 10pt;
	font-family: "ATBBOV+Ionicons";
}
@font-face {
	font-family:"EITUKB+SourceSansPro-Regular";
	src:url("654c7ee3-0000-0000-0000-000000000000.ttf");
}
.stl_07 {
	color: #3A3F52;
	display: inline;
	font-size: 10pt;
	font-family: "EITUKB+SourceSansPro-Regular";
}
.stl_08 {
	position: absolute;
	line-height: 11.31844pt;
	left: 168.9506pt;
	top: 89.67368pt;
}
.stl_09 {
	color: #3A3F52;
	display: inline;
	font-size: 9pt;
	font-family: "ATBBOV+Ionicons";
}
.stl_10 {
	color: #3A3F52;
	display: inline;
	font-size: 9pt;
	font-family: "EITUKB+SourceSansPro-Regular";
}
.stl_11 {
	position: absolute;
	line-height: 16.34571pt;
	left: 260.3304pt;
	top: 122.5059pt;
}
.stl_12 {
	color: #3A3F52;
	display: inline;
	font-size: 13pt;
	font-family: "DTSHQH+SourceSansPro-Light";
}
.stl_13 {
	position: absolute;
	line-height: 11.31844pt;
	left: 31.7518pt;
	top: 142.9492pt;
}
.stl_14 {
	color: #3A3F52;
	display: inline;
	font-size: 9pt;
	font-family: "DTSHQH+SourceSansPro-Light";
}
.stl_15 {
	position: absolute;
	line-height: 11.31844pt;
	left: 31.7518pt;
	top: 156.4558pt;
}
.stl_16 {
	position: absolute;
	line-height: 16.34571pt;
	left: 256.4144pt;
	top: 184.7859pt;
}
.stl_17 {
	position: absolute;
	line-height: 13.82736pt;
	left: 31.7518pt;
	top: 203.2652pt;
}
@font-face {
	font-family:"NLLODP+SourceSansPro-Bold";
	src:url("057615f1-0001-0000-0000-000000000000.ttf");
}
.stl_18 {
	color: #3A3F52;
	font-weight: bold;
	display: inline;
	font-size: 11pt;
	font-family: "NLLODP+SourceSansPro-Bold";
}
.stl_19 {
	position: absolute;
	line-height: 11.31844pt;
	left: 31.7518pt;
	top: 217.9853pt;
}
.stl_20 {
	position: absolute;
	line-height: 11.31844pt;
	left: 31.7518pt;
	top: 230.7415pt;
}
.stl_21 {
	position: absolute;
	line-height: 13pt;
	left: 31.7518pt;
	top: 244.248pt;
}
.stl_22 {
	position: absolute;
	line-height: 13.82736pt;
	left: 31.7518pt;
	top: 263.294pt;
}
.stl_23 {
	position: absolute;
	line-height: 11.31844pt;
	left: 31.7518pt;
	top: 278.0142pt;
}
.stl_24 {
	position: absolute;
	line-height: 9.004329pt;
	left: 31.7518pt;
	top: 292.6973pt;
}
@font-face {
	font-family:"VVDPJC+Helvetica-Light";
	src:url("b8f4974c-0000-0000-0000-000000000000.ttf");
}
.stl_25 {
	color: #3A3F52;
	display: inline;
	font-size: 9pt;
	font-family: "VVDPJC+Helvetica-Light";
}
.stl_26 {
	position: absolute;
	line-height: 11.31844pt;
	left: 34.255pt;
	top: 290.7703pt;
}
.stl_27 {
	position: absolute;
	line-height: 9.004329pt;
	left: 31.7518pt;
	top: 306.2038pt;
}
.stl_28 {
	position: absolute;
	line-height: 11.31844pt;
	left: 34.255pt;
	top: 304.2768pt;
}
.stl_29 {
	position: absolute;
	line-height: 11.31844pt;
	left: 31.7518pt;
	top: 317.7833pt;
}
.stl_30 {
	position: absolute;
	line-height: 9.004329pt;
	left: 31.7518pt;
	top: 333.2167pt;
}
.stl_31 {
	position: absolute;
	line-height: 11.31844pt;
	left: 34.255pt;
	top: 331.2898pt;
}
.stl_32 {
	position: absolute;
	line-height: 13.82736pt;
	left: 31.7518pt;
	top: 350.3359pt;
}
.stl_33 {
	position: absolute;
	line-height: 11.31844pt;
	left: 31.7518pt;
	top: 365.056pt;
}
.stl_34 {
	position: absolute;
	line-height: 12pt;
	left: 31.7518pt;
	top: 377.8122pt;
}
.stl_35 {
	position: absolute;
	line-height: 13pt;
	left: 31.7518pt;
	top: 391.3187pt;
}
.stl_36 {
	position: absolute;
	line-height: 16.34571pt;
	left: 264.434pt;
	top: 419.6487pt;
}
.stl_37 {
	position: absolute;
	line-height: 13.82736pt;
	left: 31.7518pt;
	top: 438.1281pt;
}
.stl_38 {
	position: absolute;
	line-height: 12pt;
	left: 31.7518pt;
	top: 452.0979pt;
}
.stl_39 {
	position: absolute;
	line-height: 11.31844pt;
	left: 31.7518pt;
	top: 465.6044pt;
}
.stl_40 {
	position: absolute;
	line-height: 13.82736pt;
	left: 31.7518pt;
	top: 484.6505pt;
}
.stl_41 {
	position: absolute;
	line-height: 11.31844pt;
	left: 31.7518pt;
	top: 498.6202pt;
}
.stl_42 {
	position: absolute;
	line-height: 13.82736pt;
	left: 31.7518pt;
	top: 517.6663pt;
}
.stl_43 {
	position: absolute;
	line-height: 11.31844pt;
	left: 31.7518pt;
	top: 531.6361pt;
}
.stl_44 {
	position: absolute;
	line-height: 13pt;
	left: 31.7518pt;
	top: 545.1426pt;
}
.stl_45 {
	position: absolute;
	line-height: 13.82736pt;
	left: 31.7518pt;
	top: 564.1887pt;
}
.stl_46 {
	position: absolute;
	line-height: 11.31844pt;
	left: 31.7518pt;
	top: 578.1584pt;
}
.stl_47 {
	position: absolute;
	line-height: 16.34571pt;
	left: 272.6997pt;
	top: 606.4885pt;
}
.stl_48 {
	position: absolute;
	line-height: 11.31844pt;
	left: 62.41108pt;
	top: 629.183pt;
}
.stl_49 {
	color: #3A3F52;
	font-weight: bold;
	display: inline;
	font-size: 9pt;
	font-family: "NLLODP+SourceSansPro-Bold";
}
body > div {
min-width: 576pt;
min-height: 720pt;
}
